body {
  margin: 0 auto;
  max-width: 60em;
  background-color: #E9E9E9;
}

table {
  border: 1px solid black;
  border-radius: 3px;
  color: #3F3F3F;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  background-color: #f1f1f1;
}

h1 {
  color: #3F3F3F;
  font-size: 22px;
  font-family: "Lato", sans-serif;
}

h2, p {
  color: #3F3F3F;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

a {
  color: #7d596a;
  text-decoration: none;
}

h5 {
  color: #3F3F3F;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

#text_field {
  height:300px;
  width:100%;
}

/*input[type="submit"] {
  font-family: "Lato Bold";
  background-color: #E9E9E9;
  color: #3F3F3F;
  border-radius: 3px;
}

input[type=file] {
  font-family: "Lato Bold";
  background-color: #E9E9E9;
  color: #3F3F3F;
  border-radius: 3px;
}

input[name="photo"] {
  font-family: "Lato Bold";
  background-color: #E9E9E9;
  color: #3F3F3F;
  border-radius: 3px;
}*/
