<!DOCTYPE html>


<html lang="pl">

<head>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>

<body>
    <h1>Sprawdź, czy umowa, którą podpisujesz albo regulamin, na który się zgadzasz, nie zawierają którejś z klauzul abuzywnych wyszczególnionych przez <a href="https://www.uokik.gov.pl/" target="_blank">Urząd Ochrony Konkurencji i Konsumentów</a>.</h1>
    <br>
    <h1>Wybierz format, w jakim chcesz wgrać swój dokument:</h1>
    <ul>
        <li><h1>możesz wkleić <a href="/text"> tekst</a> umowy.</h1></li>
        <li><h1>możesz podać <a href="/link"> link</a> do strony, gdzie znajduje się umowa.</h1></li>
        <li><h1>możesz załadować <a href="/pdf"> plik PDF</a> z umową.</h1></li>
        <li><h1>możesz załadować <a href="/img"> grafikę</a> (np. zdjęcie).</h1></li>
    </ul>
</body>
</html>
